<template>
    <div class="top-page-wrap settings-page">         
        <div class="login-panel deep-panel">
            <div class="input-block">
                <input name="name" class="deep-input" type="text" placeholder="Username" v-model="name">
                <div class="err" v-if="webError.name">{{webError.name}}</div>
            </div>
            <div class="input-block">
                <input name="password" class="deep-input" type="password" placeholder="Password" v-model="password">
                <div class="err" v-if="webError.password">{{webError.password}}</div>
            </div>
            <div class="input-block">
                <input name="password2" v-if="mode==='register'" class="deep-input" type="password" placeholder="Password again (optional)" v-model="password2">
                <div class="err" v-if="webError.password2">{{webError.password2}}</div>
            </div>
            <div v-if="mode==='register'" @click="refreshAvatar()" class="avatar-preview" :style="{'background-image':'url('+avatar+')'}"></div>
            <label class="remember deep-select">
            <input v-model="remember" name="remember" type="checkbox">
            <span class="deep-checkbox"></span>
            <span>Remember me</span>
            </label>

            <header>
                <img v-if="mode==='login'" src="./assets/login_header.png" alt="">
                <img v-if="mode==='register'" src="./assets/register_header.png" alt="">
            </header>
            <button @click="send" class="accept deep-icon" data-icon="accept"></button>
            <button v-if="mode==='login'" class="go-register clickable" @click="setMode('register')">or Register</button>
            <button v-if="mode==='register'" class="go-register clickable" @click="setMode('login')">or Login</button>
        </div>
    </div>
</template>

<script>
    import $ from "jquery";
    import Vue from 'vue';
    import socket from "./io";
    const config = require("../config.js");


    export default {
        name: 'settings',
        mounted() {},
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (!socket.context.logged) {

                    router.replace("/login")
                }
            });
        },
        data() {
            return {

            }
        },
        computed: {},
        mounted() {},
        methods: {

        },
        components: {


        },
    }

</script>
