@import "bootstrap/input-groups.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/forms.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/tables.less";
@import "bootstrap/navs.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/panels.less";
@import "bootstrap/utilities.less";
@import "bootstrap/close.less";
@import "bootstrap/forms.less";
@import "font-awesome/less/font-awesome.less";
@import "variables.less";
@import "mixin.less";
// @import "deep-ui.less";
@left-tabs-width: 60px;
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    //    background: url(/res/deep_ui/bg.png) center top no-repeat;
    background-color: #eee;
    background-size: cover;
    font-family: Arial, Verdana, "微软雅黑", "黑体", serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    height: 100%;
}

span {
    display: inline-block;
}

#app {
    .fill;
}

.top-page-wrap,
.list-page-wrap {
    overflow: hidden;
    margin-left: 60px;
    height: 100%;
    position: relative;
}

@media (min-width:1120px) {
    .top-page-wrap,
    .list-page-wrap {
        max-width: 1000px;
        margin: auto;
    }
}

.todo-panel-component {
    @import "components/TodoPanel.less";
}

.todo-list-component {
    @import "components/TodoList.less";
}

.login-page {
    @import "page/login.less";
}

.settings-page {
    @import "page/settings.less";
}

.todo-page {
    @import "page/todo.less";
}

.list-page {
    @import "page/list.less";
}

.view-page {
    @import "page/view.less";
}

.avatar-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: wheat;
}

.left-tabs-wrap {
    z-index: 1;
    @import "left-tabs-wrap.less";
}

.setting-tab-header {
    @import "components/settingTabHeader.less";
}

.comp-filelist {
    @import "components/FileList.less";
}

.comp-todo-li {
    @import "components/TodoLi.less";
}

.comp-modal {
    @import "components/Modal.less";
}

.comp-user-selector {
    @import "components/UserSelector.less";
}

.comp-report-viewer {
    @import "components/ReportViewer.less";
}

.comp-message-box {
    @import "components/MessageBox.less";
}

.todo-wrap {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.15); // &:before {
    //     content: '';
    //     border-left: 1px solid #f5d6d6;
    //     border-right: 1px solid #f5d6d6;
    //     width: 2px;
    //     position: absolute;
    //     top: 0;
    //     left: 40px;
    //     height: 100%;
    // }
    input::-moz-placeholder {
        font-style: italic;
        color: #a9a9a9;
    }
    input::-webkit-input-placeholder {
        font-style: italic;
    }
    h1 {
        position: absolute;
        top: -120px;
        width: 100%;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
        color: #b3b3b3;
        color: rgba(255, 255, 255, 0.3);
        text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
    }
    .list-header {
        position: relative;
        padding-top: 15px;
        border-radius: inherit;
    }
    .list-header:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 15px; // z-index: 2;
        border-bottom: 1px solid #6c615c;
        background: #8d7d77;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)), to(rgba(101, 84, 76, 0.8)));
        background: -webkit-linear-gradient(to top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        background: linear-gradient(to top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8)); //	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
    }
    .todo-list {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}